:root {
    --dark-olive-green: rgb(69, 89, 52);
    --dark-slate-gray: rgb(53, 50, 35);
    --peru: rgb(205, 164, 76);
}

@keyframes fade-in {
0% {
    transform: scale(50%);
    opacity: 0;
}
100% {
    transform: scale(100%);
    opacity: 1;
}}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 164, 76);
    margin: 0;
    padding: 30px;
}

.grid{
    position:relative;
    height: calc(100vh - 60px); /* This seems hacky.. ask Adon about this*/
    grid-gap: 30px; /* Why does my grid have a gap on the bottom?? */
    display: grid;
    grid: repeat(4, 1fr) / repeat(6, 1fr); /* row/column */
}

.grid > div{
    background-color: var(--dark-olive-green);
}

.box{    
    grid-row: span 2;
    grid-column: span 3;
}

.box.bottom{
    grid-column: span 2;
}

.copy{
    position: relative;
    top: 0;
    left: 0;
    visibility: hidden;
}

.splash{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--peru);
}

.error, .splash-content{
    background-color: var(--dark-olive-green);
    position: relative;
    top: 40%;
    width: 625px;
    left: calc(50% - 312px); /* Middle point of page - half of width */
    animation-name: fade-in;
    animation-duration: 400ms;
    animation-timing-function: ease;
}

/* This might need pointer-events: none; */
.error{
    visibility: hidden;
}

.text{
    margin: 0 10ch;
    text-align: justify;
}

/* Button section ========== */
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons > p{
    margin: auto 1ch;
}

#plus, #minus{
    background-color: var(--dark-slate-gray);
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
    transition-delay: 0ms;
}

#plus:hover, #minus:hover{
    background-color: var(--peru);
}
.horizontal, .vertical{
    position: relative;
    height: 5px;
    width: 33%;
    background-color: var(--dark-olive-green);
    top: 50%;
    left: 50%;
}

.horizontal{
    transform: translate(-50%, -50%)
}

.vertical{
    transform: rotateZ(90deg) translate(-50%, 160%);
}
/* ========================= */

.splash.hide{
    display: none;
    pointer-events: none;
}

.splash.show{
    display: contents;
    pointer-events: all;
}