body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205,163,76);
    margin: 0;
}

.grid {
    display: grid;
    grid-template-rows: calc(100% / 12);
    width: 100vw;
    height: 100vh;
}

.page {
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color:rgb(69, 89, 52)
}

.p1{
    grid-area: span;
}

.p2{}

.p3{}

.p4{}

.p5{}


/* for future ref

    instead of saying 33.333%
    width: calc(100% / 3)

    background color: rgb(205,163,76)
    box color: rgb(69, 89, 52)

*/